<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>admin</title>
   <link rel="stylesheet" href="/css/admin.css">

</head>

<body>


   <div class="container">

         <div class="imges"><img src="images/admin.jpg" alt=""></div>
      <div class="cen">
         

         <form action="/admin" method="post">
            <input type="text" class="mysearch" name="name" placeholder="Search player for remove">
            <button type="submit" class="search">SEARCH</button>
            <button type="link" class="search"><a href="/registration" role="button"> ADD USER </a></button>
           
         </form>


      </div>

   </div>



</body>

</html>
