<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>two game</title>
    <link rel="stylesheet" href="css/two game.css">
</head>

<body>

  <div class="pic">
    <img src="images/pictwo.jpg" alt="">

  </div>
    <div class="bottom-left ">
        <button class="btnf" href="/guss-number"><a href="/guss-number">SINGAL PLAYER</a></button>


    </div>
    <div class="bottom-right ">
        <button class="btns"><a href="pig-game">DOUBLE PLAYER</a></button>

    </div>

</body>

</html>
